 
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">
 
     
    <http use-expressions="true">
        <csrf disabled="true"/>
         
        <intercept-url pattern="/" access="isAnonymous()" />
        <intercept-url pattern="/welcome" access="isAnonymous()" />
        <intercept-url pattern="/login" access="isAnonymous()" />
        <intercept-url pattern="/logout" access="isAnonymous()" />
   <intercept-url pattern="/userInfo" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/other/**" access="isAuthenticated()" />
 
        <access-denied-handler error-page="/403" />
 
        <form-login login-page='/login'  authentication-failure-url="/403"  login-processing-url="/j_spring_security_check"
            default-target-url="/userInfo" 
            
           username-parameter="username"
            password-parameter="password" />
 
        <logout logout-url="/logout" logout-success-url="/logoutSuccessful"
            delete-cookies="JSESSIONID" invalidate-session="true" />
 
    </http>
 
   <authentication-manager> 
        <authentication-provider>
            <user-service>
                <user name="user1" password="12345" authorities="ROLE_USER" />
                <user name="admin1" password="12345" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
</authentication-manager>
</beans:beans>